<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="UTF-8">
    <script src="static/js/jquery-1.11.0.min.js"></script>
    <title>Reviews</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/bar_chart_style.css">
    <link href="static/css/review.css" type="text/css" rel="stylesheet">
    <link href="static/css/style.css" type="text/css" rel="stylesheet">
    <!-- jQuery -->
    <script src="static/js/jquery-1.11.2.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>
     <script src="//d3js.org/d3.v3.min.js"></script>
    <style>

    </style>
</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="navbar-header">
               <h3>Review</h3>
        </div>
        <ul class="nav navbar-right top-nav">
            <button type="submit" class="btn btn-default" id="units1" value="Villagio Goa" onclick="units1()">Villagio Goa</button>
            <button type="submit" class="btn btn-default" id="units2" value="White Mist, Manali" onclick="units2()">White Mist Manali</button>
            <button type="submit" class="btn btn-default" id="units3" value="Dindi by the Godavari" onclick="units3()">Dindi by the Godavari</button>
        </ul>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav top-nav">
                <div class="form-inline">
                    <li class="active"><a href="#"><button type="button" id="parent" onclick="parent()">Sterling Holiday Resorts</button></a></li>
                </div>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper">

        <div class="container-fluid">
            <div id="bar_chart">
            </div>
            <div id="user_reviews">
                <script src="static/js/reviews.js"></script>
            </div>
        </div>
    </div>
</div>
</body>
</html>